@import 'src/theme/helpers';

.connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 0px 0px;
  background: #ff7a00;
  @include arrayProps((
    gap: 26px null 30px 60px,
    padding: '30px 24px' '60px 115px' '60px 120px',
    margin-right: 24px null 48px 120px,
    margin-left: 24px null 48px 120px,
  ));

  .text {
    @include text(48px, normal, 500, normal, #1e1e1e);
    text-align: center;
    max-width: 941px;
    @include arrayProps((
      font-size: 24px null 36px 48px,
    ))
  }

  .itemsWrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include arrayProps((
      width: 334px null 732px,
    ));

    .item {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      border-radius: 20px;
      background: #1e1e1e;
      text-decoration: none;
      @include text(24px, normal, 400, 120%, #fff);
      @include arrayProps((
        font-size: 16px null 20px 24px,
        padding: '30px 15px' null 30px,
      ))
    }

    .rowWrap {
      display: flex;
      gap: 24px;

      .itemRow {
        width: 100%;
      }
    }
  }
}
