@import 'src/theme/helpers';

.childList {
  opacity: 0;
  position: absolute;
  margin-top: 30px;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  transition: all .2s ease;
  width: 130%;
  background: #2A2A2A;
  border-radius: 5px;
  left: -10px;
  border: 1px solid #1f1f1f;
  display: none;
}

.navItem {
  position: relative;
  padding: 40px 0;
  cursor: pointer;
}

.active {
  opacity: 1;
  display: flex;

}

.childItem {
  padding: 10px;
  transition: all .1s ease;
  text-decoration: none;
  color: white;

  &:hover {
    cursor: pointer;

    &:hover {
      background: #FF7A00;
    }

  }
}

.title {
  display: flex;
  gap: 5px;
  align-items: center;
  @include arrayProps((
          font-size: null null 14px 18px
  ))
}