@import 'src/theme/helpers';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1E1E1E;
}

.container {
  @include arrayProps((
          padding-left: 24px null 48px 80px 120px,
          padding-right: 24px null 48px 80px 120px,
  ));
}

.ymaps-2-1-79-map {
  filter: invert(100%);
  -ms-filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
}