@import 'src/theme/helpers';

.slider {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 67px;
    .title {
      @include text(96px, normal, 700, normal, #fff);
    }
    .text {
      @include text(48px, normal, 400, normal, #fff);

      &::after {
        content: '3';
        @include text(32px, normal, 400, normal, #fff);
        position: absolute;
      }
    }
    .btn {
      background-color: #ff7a00;
      @include text(24px, normal, 700, normal, #fff);
      border: none;
      padding: 30px 40px;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 60px;
      max-width: fit-content;
      box-sizing: border-box;
    }
  }
  .img {
    max-width: 930px;
    clip-path: polygon(100% 100%, 100% 0%, 10% 0%, 4% 100%);
    max-height: 502px;
  }

  .banner {
    clip-path: polygon(100% 100%, 100% 0%, 10% 0%, 0% 100%);
  }
}

.partners {
  margin-bottom: 30px;

  .title {
    @include text(48px, normal, 500, normal, #fff);
    @include arrayProps((
      font-size: 36px null null 48px,
    ));
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #2a2a2a;
    box-shadow: 0px 5.867px 12.267px 0px rgba(0, 0, 0, 0.10), 0px 22.4px 22.4px 0px rgba(0, 0, 0, 0.09), 0px 50.667px 30.4px 0px rgba(0, 0, 0, 0.05), 0px 89.6px 35.733px 0px rgba(0, 0, 0, 0.01), 0px 140.267px 39.467px 0px rgba(0, 0, 0, 0.00);
    border-radius: 22px;
    width: max-content;
    @include arrayProps((
      padding: '30px 50px' null '32px 53px',
      height: 233px null null 218px,
    ));

    .img {
      height: 80px;
      width: auto;
    }

    .name {
      @include text(24px, normal, 700, normal, #fff);
      max-width: 606px;
      text-align: center;
      @include arrayProps((
      margin-top: 54px 40px,
    ));
    }

    .mvd {
      margin-top: 30px;
    }
  }
}
