@import 'src/theme/helpers';

.root {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  @include arrayProps((
          flex-direction: column null row,
          gap: 40px null 20px
  ))
}


.category {
  background: #2A2A2A;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 40px;
  width: 100%;
  overflow: hidden;
  transition: all .3s;
  position: relative;

  @include arrayProps((
          max-width: -webkit-fill-available null 200px 300px 400px,
          padding: 15px null 30px,
          padding-top: 0px null auto,
          height: 50px null auto,
  ))
}

.fake {
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 15px;
  @include arrayProps((
          display: block null none
  ))
}


.cat_open {
  @include arrayProps((
          overflow: auto null none,
          height: max-content null auto,
          animation: wide .2s forwards null none,
  ))
}

@keyframes wide {
  0% {
    min-height: 60px;
  }
  100% {
    min-height: 600px;
  }
}


.grid {
  width: 100%;
  display: grid;
  @include arrayProps((
          grid-template-columns: '1fr' '1fr 1fr' null null '1fr 1fr 1fr',
          grid-gap: 12px null 24px,
  ))
}

.btn_wrap {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #FF7A00;
  cursor: pointer;
  border: none;
  @include text(24px, normal, 700, normal, #fff);
  box-shadow: 0 11px 23px 0 rgba(0, 0, 0, 0.10),
  0 42px 42px 0 rgba(0, 0, 0, 0.09),
  0 95px 57px 0 rgba(0, 0, 0, 0.05),
  0 168px 67px 0 rgba(0, 0, 0, 0.01),
  0 263px 74px 0 rgba(0, 0, 0, 0.00);
  transform: scale(1);
  transition: transform .1s;
  @include arrayProps((
          padding: '15px 18px' null '20px 30px' null '30px 50px',
          margin-top: 15px null 15px 30px,
          border-radius: 10px null null 15px 20px,
          font-size: 14px null 16px null 20px,
  ));

  &:active {
    transform: scale(0.97);
  }

  &:hover {
    transform: scale(1.01);
  }
}

