@import 'src/theme/helpers';

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include arrayProps((
        gap: 10px null null 24px,
    ));

    .arrow {
        cursor: pointer;
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;

        .icon {
            width: 30px;
            height: 30px;
        }
    }

    .input {
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #1E1E1E;
        outline: none;
        border: none;
        @include text(24px, normal, 400, 120%, #fff);
        @include arrayProps((
            font-size: 14px null null 21px 24px,
            border-radius: 11px null null 20px,
            height: 50px null null 89px,
            padding: 16px null null 24px 30px,
        ));
    }

    .text {
        resize: none;
        @include arrayProps((
            height: 108px null 81px 152px,
        ))
    }

    .btn {
        cursor: pointer;
        border: none;
        border-radius: 20px;
        background-color: #1E1E1E;
        color: white;
        transform: scale(1);
        transition: transform .1s;
        @include text(24px, normal, 400, 120%, #fff);
        @include arrayProps((
            font-size: 14px null null 21px 24px,
            padding: 17px null null 30px,
            height: 50px null null 89px,
            border-radius: 11px null null 20px,
        ));

        &:active {
            transform: scale(0.97);
        }
    }
}