@import '../../../theme/helpers';

table.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  height: auto;
  color: #fff;
  border-radius: 10px;
}
table.table,
table.table td,
table.table th {
  border: 1px solid #595959;
}
table.table td,
table.table th {
  width: 30px;
  height: 35px;
}

.table td {
  background-color: #ff7a00;
  padding-left: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include arrayProps((
    font-size: 12px 16px null 20px 24px,
  ))
}

.table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#items {
  background: #2B2B2B;
  text-align: start;
  font-weight: normal;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0 12px 40px;

  @include arrayProps((
    gap: 4px null 8px,
  ))
}