@import 'src/theme/helpers';

.about {
    display: flex;
    flex-direction: column;
  
    .wrapper {
      display: flex;
      @include arrayProps((
        flex-direction: 'column' 'row',
        margin-top: 30px null null 60px,
        gap: '' 60px,
      ));
      .description {
        display: flex;
        flex-direction: column;
        .title {
          @include text(48px, normal, 500, normal, #fff);
          @include arrayProps((
            font-size: 36px null null 48px
          ))
        }
        .text {
          margin-top: 15px;
          @include text(24px, normal, 400, 120%, #fff);
          @include arrayProps((
            font-size: 16px null 14px 24px
          ));
        }
  
        .principles {
          display: flex;
          flex-direction: column;
          gap: 40px;
          @include arrayProps((
            margin-top: 20px null 48px null 65px,
            gap: 30px null 16px 40px,
          ));
  
          .principle {
            display: flex;
            justify-content: space-between;

            &:hover {
                filter: invert(48%) sepia(96%) saturate(2234%) hue-rotate(2deg) brightness(105%) contrast(106%);
            }

            .item {
                @include text(36px, normal, 700, 120%, #fff);
                @include arrayProps((
                  font-size: 20px null null 36px,
                ));
              }
          }
        }
      }
  
      .imgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #2a2a2a;
        @include arrayProps((
          padding: '38px 98px' null '71px' '70px 135px',
          width: 186px null 297px 557px,
          height: 186px null 297px 557px,
          margin-top: 30px null 0
        ));
      }
    }
  
    .statistics {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @include arrayProps((
        display: 'grid' null 'flex',
        grid-template-columns: 'repeat(2, 2fr)'
      ));
  
      .item {
        display: flex;
        flex-direction: column;
        padding: 45px 0;
        align-items: center;
        gap: 45px;
  
        .text {
          text-align: center;
          max-width: 317px;
          @include text(24px, normal, 700, normal, #fff);
          font-size: 14px null 16px 24px,
        }
      }
    }
  }
  