@import 'src/theme/helpers';

.modalWrapper {
  position: absolute;
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 102;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
}

.cross {
  position: fixed;
  color: #e0e0e0;
  cursor: pointer;
  transition: all .2s;
  @include arrayProps((
          right: 0 0 -50px,
          top: 3px 0 -50px,
          width: 40px null 70px,
          height: 40px null 70px,
  ));

  &:hover {
    color: white;
  }
}

.modal {
  background-color: #2f2f2f;
  @include arrayProps((
          padding: 24px null null 48px,
          padding-top: 40px null 24px 48px,
          width: 285px 625px 928px 1034px 1680px,
          border-radius: 20px,
  ));
}
